.wrapper {
    display: grid;

    min-height: 100vh;

    background-color: gainsboro;
    gap: 0 30px;
    grid-template:
    [start] 'h' auto [row-2]
    [row-2] 'c' 1fr [row-3]
    [row-3] 'f' auto [row-end]
    / auto
}

.header {
    grid-area: h;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 30px 0;

    font-size: 3rem;
    grid-area: c;
}

.footer {
    grid-area: f;

    background-color: #d4beff;
}
